@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* -----------------------font-family-start */
.font-Rubik{
    font-family: "Rubik", sans-serif;
}
/* -----------------------max-width-start */
.max-w-487{
    max-width: 487px;
}
.max-w-499{
    max-width: 499px;
}
.max-w-525{
    max-width: 525px;
}
.max-w-565{
    max-width: 565px;
}
.max-w-766{
    max-width: 766px;
}
.max-w-1067{
    max-width: 1067px;
}
.max-w-1140 {
    max-width: 1140px !important;
}


/* -----------------------padding-start */
.py-80{
    padding: 80px 0;
}
.pt-11{
    padding-top: 11px;
}
.pt-14{
    padding-top: 14px;
}
.pt-19{
    padding-top: 19px;
}
.pt-40{
    padding-top: 40px;
}
.pt-95{
    padding-top: 95px;
}
.pt-149{
    padding-top: 149px;
}
.pt-165{
    padding-top: 165px;
}
.py-18{
    padding: 18px 0;
}
.pb-160{
    padding-bottom: 160px;
}

/* -----------------------gap-start */
.gap-17{
    gap: 17px;
}
.gap-41{
    gap: 41px;
}
.gap-194{
    gap: 194px;
}

/* -----------------------btn-start */
.btn-1{
    padding: 17px 38px;
    background-color: var(--orange);
    border: 1px solid transparent;
    border-radius: 41px !important;
}
.btn-1:hover{
    background-color: var(--white);
    color: var(--orange) !important;
    border: 1px solid var(--orange);
}
.btn-2{
    background-color: var(--white);
    color: var(--orange) !important;
    border: 1px solid var(--orange);
    padding: 17px 38px;
    border-radius: 41px !important;
}
.btn-2:hover{
    background-color: var(--orange);
    color: var(--white) !important;
}




/* ------------------------start */

.rounded-18{
    border-radius: 18px;
}





.duration-300{
    transition: all 300ms linear;
    
}
.nav-link:hover{
    color: var(--orange );
}





.clip3{
    left: 3%;
    top: 5%;
}

.group73{
    right: 7%;
    top: 15%;
}
.group83{
    bottom: 15%;
    right: 53%;
    
}


.opacity-7{
    opacity: 0.7;
}
.opacity-8{
    opacity: 0.8;
}



.firstimg{
    box-shadow: 0px 3px 35px 0px var(--shadow);

}

.box{
    width: 156px;
    height: 141px;
    border-radius: 8px;
    padding: 25px 9px 35px 9px;
    box-shadow: 0px 4px 30px 0px var(--box-shadow);
    border: 1px solid var(--box-border);
}
.slick-current{
    border-radius: 8px;
    border: 1px solid var(--orange);
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 10%;
    
}

.slick-current h5{
    color: var(--orange);
}
.slick-slider {
    margin:0 -8px;
}

.slick-slide {            
    margin-right: 8px;
    margin-left: 8px;
}

.bg-gray{
    background-color: var(--bg-gray);
}


.group{
    top: 10%;
    left: 1%;

}
.Elegant{
    top: 5%;
    right: 10%;

}
.Elegant2{
    bottom: 5%;
    left: 10%;

}
.Elegant3{
    bottom: 5%;
    right: 10%;

}

    


.cursor-pointer{
    cursor: pointer;
}




.clip{
    top: 18%;
    left: 34%;
}

.group7{
    top: 60%;
    left: 0;
}

.group5{
    bottom: 10%;
    right: 40%;
}
.group8{
    right: 2%;
    top: 50%;

}








.hamburger {
    display: none;
}






 @media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        width: 100%;
        height: 100vh;
        gap: 32px;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--orange);
    }
} 

@media (max-width: 575px) {
            

}
@media (min-width: 575px) {    
   

}
@media (min-width: 768px) {
 
    
}
@media (min-width: 992px) {
    

}
@media (max-width: 1200px) {
    

}
@media (max-width: 1200px) {
 
    
}
@media (min-width:1200px) {
    

}

